@import "tailwindcss";

@theme {
    --color-primary-100: #e5f3ff;
    --color-primary-200: #b8dbf8;
    --color-primary-300: #8abcf1;
    --color-primary-400: #5c9ef9;
    --color-primary-500: #3498db;
    --color-primary-600: #1e78b9;
    --color-primary-700: #155f8f;
    --color-primary-800: #0d4675;
    --color-primary-900: #073254;
}

